.grid {
    --greedColumns: 1;

    display: grid;
    grid-template-columns: repeat(var(--greedColumns), 1fr);
    gap: 40px 20px;

    &__item {
        display: flex;
        align-items: center;
    }

    &--2 {
        --greedColumns: 2;

        @include tablet {
            --greedColumns: 1;
        }
    }
}