.about {
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;

    @include tablet {
        flex-direction: column;
    }

    @include mobile-above {
        width: 79%;
    }

    &__column {
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 0 var(--container-padding-x);
        margin-bottom: 20px;

        @include tablet {
            width: 100%;
        }
    }

    &__inf {
        color: var(--color-dark-base);
        font-size: fluid(30, 20);
        text-transform: uppercase;
        line-height: 1.1;
        font-weight: 700;
    }

    &__title {
        font-size: fluid(80, 30);
        line-height: 1.1;
    }

    &__text {
        color: var(--color-dark-base);
        font-size: fluid(20, 16);
        line-height: 1.1;
    }
}