.edge {
    background-color: var(--color-dark-base);
    box-shadow: 300px 0 0 var(--color-dark-base), 600px 0 0 var(--color-dark-base), 1100px 0 0 var(--color-dark-base), 2200px 0 0 var(--color-dark-base), 3300px 0 0 var(--color-dark-base), -300px 0 0 var(--color-dark-base), -600px 0 0 var(--color-dark-base), -1100px 0 0 var(--color-dark-base), -2200px 0 0 var(--color-dark-base), -3300px 0 0 var(--color-dark-base);
    padding-top: 90px;
    padding-bottom: 110px;

    &__title {
        font-size: fluid(80, 30);
        color: var(--color-white);
        margin-bottom: fluid(50, 32);
    }

    &-card {
        display: flex;
        justify-content: space-between;
    }
}